
body{
background-color: antiquewhite;
}
h1{
    font-size: 500%;
      margin: 3%;
}
u{
  color:rgb(79, 21, 59);
}
h2{
  color:#422800;
  margin: 2%;
  font-size: xx-large;
}
p{
  display: flex;
  margin: 3%;
  justify-content: center;
  align-content: flex-start;
  font-size: 200%;
}
  .buttonmain{ 
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    overflow:auto;
  
   gap: 300px;
}
/* .button {
    display: inline-block;
    padding: 15px 1px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #fff;
    background-color:grey;
    border: none;
    border-radius: 5px 5px;
    box-shadow: 0 9px rgb(27, 2, 2);
  } */
  a{
    text-decoration: none;
    color: black;

  }
  .button{
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 12px 80px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button1{
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 12px 80px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button1:hover{
        background-color: aliceblue;
}

.button:hover{
  background-color: aliceblue;
}

div{
  margin: 3%;
  display: flex;
  justify-content: center;
  justify-items: center;
}
